{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 46.09771905833338,
    "longitude": 14.524406503851488,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Belgrade",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "SI",
    "language": "en",
    "radius": 52
  }
}